extends layout

block content
	div.row
		div.container
			div.col-md-12.col-xs-12
				h1 About QRZlog.com
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget tincidunt tellus. Nullam ac ante lorem. Ut porta nec orci vitae lobortis. Aenean non facilisis diam. Pellentesque aliquet efficitur faucibus. Integer sed pretium purus. Phasellus dapibus, diam id molestie dignissim, augue neque elementum orci, sodales ultrices mi ex a nibh. Duis eu imperdiet mi, eget vehicula lorem. Pellentesque rutrum, eros a varius pretium, tellus orci blandit mauris, at porta libero odio vitae purus.
				p Mauris pretium, magna non ornare fringilla, lectus elit tristique quam, vitae mattis sapien sapien eu leo. Mauris interdum enim semper lectus pharetra, sit amet lobortis dui cursus. Integer id neque sed nisi posuere porttitor et luctus libero. Praesent aliquet lacinia libero et sollicitudin. Pellentesque quam erat, scelerisque eget nisi sed, dignissim tincidunt nisl. Proin sed luctus nulla. Etiam tincidunt est sit amet metus fringilla varius. Pellentesque luctus sem et lacinia fermentum. Vivamus ornare posuere accumsan. Phasellus eu erat elementum, sagittis magna eu, luctus metus. Curabitur aliquam urna malesuada ligula rhoncus, vel dignissim dolor porttitor. Sed rutrum odio sit amet ex gravida porta. Praesent bibendum accumsan sapien vel fringilla.