extends layout

block content
	div.container
		h2 Search results for "#{query}"
		- if (message){
			h5.text-center.error-message #{message}
		-}else{
			each callsign, i in call
				div.col-md-6.col-lg-6.col-xs-12
					div.panel.panel-default
						div.panel-heading
							strong #{callsign.callsign}
						
						div.panel-body
							div.pull-left.searchProfileImg
								img(src='#{callsign.profileImgThumb}',width='96',height='96')
							div.pull-right.searchProfileMeta
								p Email address: 
									a(href="mailto:#{callsign.email}") #{callsign.email}
								- if (callsign.logPublic){
									a(href="/callsign/#{callsign.callsign}",class="btn btn-info btnViewLog") View
								-}
		-}