extends layout
-if(cords)
	-var coords = cords
block content
	div.container
		div.row
			div.col-xs-12.col-md-6.col-lg-12
				#user
					h2.text-left.login-title Welcome back, #{user.firstName}
					h4.recent-entries Logbook stats
					div.chart-dotted
						div#chartdiv(style="width: 100%; height: 400px;")
					h5 Recent log entries
					table.table-responsive.table.table-striped
						tr
							th Callsign
							th Contact
							th Band
							th Mode
							th Start
							th End
							th Actions
						each item in logbook
							tr
								td #{item.callsign}
								td #{item.contact}
								td #{item.band}
								td #{item.mode}
								td #{item.start}
								td #{item.end}
								td 
									a(href="/logbook/edit/#{item._id}",class="btn btn-primary") Edit
									a(href="/logbook/delete/#{item._id}",class="btn btn-danger") Delete
	script(src='/amcharts/amcharts.js')
		script(src='/amcharts/themes/dark.js')
		script(src='/amcharts/serial.js')
		-if(user)
			script(type='text/javascript').                                          
				var dailyCount = recentEntries;   
			script(src='/javascripts/charts.js')  

