extends layout

block content
	div.topWrapper
		div.col-md-12.col-xs-12.homeTitle.text-center
			h1.tk-ff-tisa-web-pro.text-center A logbook for portable operators
			h4.text-center Set up your account and jot your contacts down...
			div.col-md-2
			div.col-md-8.homeInputSignup
				a(href="/about-qrzlog",class="btn btn-white") Find out more
				a(href="/signup",class="btn btn-success") Sign up today
			div.col-md-2
	section.evenbg
		div.container.text-center
			h2.underlined The only logbook you'll need
			p.section-heading A logbook ideal for /P operators, as well as QTH operators!
			div.spacer30
			div.row
				div.col-sm-3.col-sm-offset-1
					img(src="/images/any-device.png")
					h3 Any device, anywhere
				div.col-sm-4
					img(src="/images/fast-load-times.png")
					h3 Fast load times
				div.col-sm-3
					img(src="/images/secure.png")
					h3 Fully secure datacentre
	section.overview
		div.container
			h2.text-center.underlined QRZLog Overview
			p.section-heading Things are busy at QRZLog - Check out some of the recent stats below.
			div.col-md-8.col-xs-12
				h3 Welcome to QRZLog.com
				p QRZLog.com is the only log book you'll ever need to keep. Access it on your PC, tablet or smartphone. It's the ideal solution for portable users, being able to log your contacts using your smartphone!
			div.col-md-4.col-xs-12
				h3 Recent QSOs
				table.table-responsive.table
					tr
						th Callsign
						th DX
						th Time
						th Mode
						th Band
					each entry, i in recentLogs
						tr
							td #{entry.callsign}
							td #{entry.contact}
							td #{moment(entry.time).format("HH:mm")}
							td #{entry.mode}
							td #{entry.band}
	section.logCount
		div.container
			h2.text-center.underlined QRZLog hosts thousands of logbooks
			p.section-heading We're proud to host logbooks for operators all over the world. From the UK to the USA, Russia to China - we're a global phenomenon for hams!
			div.log-counter
				span.number-count
					
			