-if(user)
	-var authenticated = true
	-var uid = uid
-if(page && page=="home")
	-var home = true

doctype html
html(class=home?'homePage':'innerPage')
	head
		title #{title}
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet',href='/stylesheets/bootstrap-switch.min.css')
		link(rel='stylesheet',href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet',href='/stylesheets/cssCharts.css')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		
	body.static(class=authenticated?'authUser':'anonUser')
		header#header
			div.container
				div.logo.col-lg-4.col-md-4.col-xs-8
					h1
						a(href='/') 
							img(src='/images/logo.png')
				div.topSearch.col-lg-4.col-md-4.col-xs-2
					a(href="#",data-toggle="collapse",data-target="#mobileSearch")
						i(class="desktopHide mobileSearch fa fa-search")
					form(method="post",action="/search",id="searchCallsign")
						label(for="searchCall")
							input(type="text",class="searchCall",id="search",name="searchCall",placeholder="Find a callsign")
						button(class="btn btn-default") Search
				div.topLogin.col-lg-4.col-md-4.col-xs-2.text-right
					nav.navbar
						div.navbar-header
							button(class="navbar-toggle collapsed",data-toggle="collapse",data-target="#topLinksMobile")
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
							div(class="collapse navbar-collapse",id="topLinks")
								ul(class="nav navbar-nav topLinks")
									li
										a(href="/about-qrzlog") About
									li
										a(href="#") Features
									- if (user){
										li
											a(href="/dashboard") Dashboard
										li
											a(href="/signout") Logout
									-}else{
										li
											a(href="/signup") Register
										li
											a(href="/login") Login
									-}		
			div(class="mobileMenu collapse",id="topLinksMobile")
				ul(class="nav navbar-nav topLinks")
					li
						a(href="/about-qrzlog") About
					li
						a(href="#") Features
					- if (user){
						li
							a(href="/signout") Logout
					-}else{
						li
							a(href="/signup") Register
						li
							a(href="/login") Login
					-}	
			div(class="searchCallsign collapse",id="mobileSearch")
				form(method="post",action="/search",id="mobileSearchCallsign")
					label(for="searchCall")
						input(type="text",class="searchCall",id="search",name="searchCall",placeholder="Find a callsign")
					button(class="btn btn-default") Search
		- if (user){
			nav.dashNav.navbar
				div.container
					ul.inline-nav.nav.navbar-nav
						li
							a(href="/dashboard") Dashboard
						li
							a(href="/logbook") Logbook
						- if (locals.admin === true) {
						li
							a(href="/users") Users
						-}
						li
							a(href="/myaccount") My Account
						li
							a(href="/signout") Logout
		-}
		section#body
			block content
		
		footer#footer
			section.container
				div.col-md-4.text-left
					h4 Site Stats
					p.tabLeft Registered users:
					p.tabLeft Logbook entries:
					p.tabLeft Currently logged in: #{count}
				div.col-md-4.text-left

				div.col-md-4.text-right
					p.text-right Developed by 
						a(href="http://www.bubblemedialtd.co.uk",target="_blank",title="Website Design Telford") Bubble Media
		script(src='https://code.jquery.com/jquery-2.1.4.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js')
		script(src='//use.typekit.net/qlz2eid.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
		script(src='http://code.jquery.com/ui/1.10.1/jquery-ui.js')
		script(src='/javascripts/bootstrap-switch.min.js')
		script(src='/amcharts/amcharts.js')
		script(src='/amcharts/themes/dark.js')
		script(src='/amcharts/serial.js')
		-if(user)
			script(type='text/javascript')
    
			script(src='/javascripts/charts.js')  
		script(src='/javascripts/global.js')
		script // Jade
			| try{Typekit.load();}catch(e){}
		script // Jade
			| $('.toggleForm').on('click',function(event){
			| event.preventDefault();
			|  $('#topLoginForm').slideToggle("slow");
			| });
