extends layout

block content
	div.container
		h4 Add a new log entry
		form(method="post",action="/logbook/add",class="form-inline addLogForm")
			div.form-group.col-md-3.col-xs-6
				label Contact callsign
				input(type="text",name="contact",class="form-control",placeholder="Contact callsign")
			div.form-group.col-md-3.col-xs-6
				label Start time
				input(type="text",name="start",class="form-control",placeholder="Start time")
			div.form-group.col-md-3.col-xs-6
				label End time
				input(type="text",name="end",class="form-control",placeholder="End time")
			div.form-group.col-md-3.col-xs-6
				label Frequency
				input(type="text",name="frequency",class="form-control",placeholder="Frequency")
			div.clearfix
			div.form-group.col-md-3.col-xs-6
				label Band
				select(name="band",class="form-control")
					option(value="160m") 160m
					option(value="80m") 80m
					option(value="60m") 60m
					option(value="40m") 40m
					option(value="30m") 30m
					option(value="20m") 20m
					option(value="17m") 17m
					option(value="15m") 15m
					option(value="12m") 12m
					option(value="10m") 10m
					option(value="6m") 6m
					option(value="4m") 4m
					option(value="2m") 2m
					option(value="70cm") 70cm
					option(value="23cm") 23cm
					option(value="13cm") 13cm
					option(value="3cm") 3cm
			div.form-group.col-md-3.col-xs-6
				label Mode
				select(name="mode",class="form-control")
					option(value="USB") USB
					option(value="LSB") LSB
					option(value="SSB") SSB
					option(value="DIGI") DIGI
					option(value="RTTY") RTTY
					option(value="SSTV") SSTV
					option(value="AM") AM
					option(value="FM") FM
					option(value="NFM") NFM
			div.form-group.col-md-3.col-xs-6
				label RST Sent
				input(type="text",name="RSTsent",class="form-control",placeholder="RST Sent")
			div.form-group.col-md-3.col-xs-6
				label RST Received
				input(type="text",name="RSTrec",class="form-control",placeholder="RST Received")
			div.clearfix
			div.form-group.col-md-12.col-xs-12
				label Notes
				textarea(name="notes",class="form-control",row="10")
			button(class="btn btn-default") Add entry
