extends layout

block content
	div.container
		div.row
			div.col-xs-12.col-md-6.col-lg-12
				#user
					h1.pull-left Logbook
					a(href='/logbook/add',class='btn btn-default pull-right',style='margin-top:15px;') Add entry
					div.clearfix
					div.text-left
						table.responsive.table
							tr
								th Callsign
								th Contact
								th Band
								th Mode
								th Start
								th End
								th Actions
							each item in log
								tr
									td #{item.callsign}
									td #{item.contact}
									td #{item.band}
									td #{item.mode}
									td #{item.start}
									td #{item.end}
									td 
										a(href="/logbook/edit/#{item._id}",class="btn btn-primary") Edit
						
						a(href="/dashboard",class="btn btn-default") Back to dashboard
						a(href='/signout', class='text-center new-account') Sign Out
