extends layout

block content
	div.container
		div.row
			div.col-xs-12.col-md-6.col-lg-12
				#user
					h1 Edit entry
					div.text-left
						form(method='/logbook/#{log._id}',action='post',class='form')
							div.form-group
								label(for='callsign') Callsign
								input(name='callsign',class='form-control',value='#{log.callsign}')
							div.form-group
								label(for='contact') Contact
								input(name='contact',class='form-control',value='#{log.contact}')
							div.form-group
								label(for='band') Band
								input(name='band',class='form-control',value='#{log.band}')
							div.form-group
								label(for='mode') Mode
								input(name='mode',class='form-control',value='#{log.mode}')
							div.form-group
								label(for='start') Start
								input(name='start',class='form-control',value='#{log.start}')
							div.form-group
								label(for-'end') End
								input(name='end',class='form-control',value='#{log.end}')
						a(href="/logbook",class="btn btn-default") Back to logbook
						a(href='/signout', class='text-center new-account') Sign Out