extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				h1.text-center.login-title Sign in to your QRZLog.com account
					div.signup-wall
						#message
							if message
								h5.text-center.error-message #{message}
						form(class='form-signin', action='/login', method='POST')
							input(type='text', name='username', class='form-control', placeholder='Callsign',required, autofocus,autocomplete='off')
							input(type='password', name='password', class='form-control nomargin', placeholder='Password', required)
							button(class='btn btn-lg btn-primary btn-block', type='submit') Log in
							span.clearfix
						a(href="/",class="btn btn-default") Back to homepage
						a(href="/reset-password",class="btn btn-info") Reset password
					