extends layout

block content
	div.container
		h1 Edit your contact details
		form(method='post',action='/myaccount',id='accountForm',class='form',role='form')
			div.form-group.col-md-6
				label Callsign
				input(type='text',name='userCallsign',value='#{user.callsign}',class='form-control',disabled='disabled')
			div.form-group.col-md-6
				label Email
				input(type='email',name='userEmail',value='#{user.email}',class='form-control')
			div.form-group.col-md-6
				label First name
				input(type='text',name='userFirstName',value='#{user.firstName}',class='form-control')
			div.form-group.col-md-6
				label Last name
				input(type='text',name='userLastName',value='#{user.lastName}',class='form-control')
			div.form-group.col-md-6
				label Public profile
				p Would you like your profile to be public?
				input(type='checkbox',name='userPublicProfile',class='floatLeftCheckbox',checked=user.profilePublic)
			div.form-group.col-md-6.clearfix
				label Public logbook
				p Would you like your logbook to be public?
				if (user.logPublic)
				input(type='checkbox',name='userPublicLogbook',class='floatLeftCheckbox',checked=user.logPublic)
			script.
				$("[name='userPublicProfile']").bootstrapSwitch();
				$("[name='userPublicLogbook']").bootstrapSwitch();
			div.clearfix
			button(class='pull-right btn btn-primary') Update details
		h2 Upload a profile image
		div.col-md-4.col-xs-12.text-center
			div#currentImg
				img(src='#{user.profileImgThumb}',class="currentImg")
		form#fileUpload(method="post" action="/ajax/imgUpload" enctype="multipart/form-data" class="col-md-8 col-xs-12") 
			label(for="payload") Select a file to upload:     
			input#payload(type="file" name="myFile" accept="image/*") 
			br
			div#response
			br
			button#upload Upload
