extends layout

block content
    h1= title
    form#formAddUser(name="adduser",method="post",action="/adduser")
        div.form-group
            input#inputUserName(type="text", placeholder="Callsign", name="username",class="form-control")
        div.form-group
            input#inputUserEmail(type="text", placeholder="Email Address", name="useremail",class="form-control")
        button#btnSubmit(type="submit" class="btn btn-default") submit