/* Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:500,100,400,200);
/* Reset */
body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

th,td {
	text-align: center !important;
}

.btn /* Reset Bootstrap .btn */
{
	border-radius: 0 !important;
	margin-right: 3px !important;
}

.btn-white {
	border: 1px solid white !important;
	color: white !important;
}
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}
/* Reset */

/* Headings */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Raleway;
  font-weight: 300;
  line-height: 1.1;
  color: inherit;
}
.static h2, .static .h2 {
  margin: 0 0 1em;
  font-size: 3.1em;
  font-weight: 100;
  color: #1F3B5D;
  letter-spacing: 1px;
  position: relative;
  font-family: "Raleway" !important;
}
.static h2.underlined:after, .static .h2.underlined:after {
  content: "";
  position: absolute;
  bottom: -0.5em;
  left: 50%;
  height: 2px;
  width: 30px;
  margin-left: -15px;
  display: block;
  background-color: #46AEDA;
}

/* Colours */
section.overview {
	background-image: -webkit-linear-gradient(-240deg, #1f2958 10%, #182848 70%);
  	background-image: linear-gradient(-30deg, #1f2958 10%, #182848 70%);
}
.overview p, .overview h2, .overview h3, .overview th, .overview td {
	color: white;
}

.tabLeft {
	padding-left: 20px;
}

/* Fonts & Colours */
#header {
	background: #3686be;
}
.topWrapper {
	float: left;
	width: 100%;
	background: #3686be;
}
.homeTitle h1, .homeTitle h4 {
	color: white;
	font-family: "brandon-grotesque";
}
.homeTitle h1 {
	font-weight: 200;
}
.homeTitle h4 {
	font-weight: 100;
}
#message h5 {
	color: red;
}
footer {
		width: 100%;
		background: #666;
	}
#footer div {
	color: white !important;
}
.homePage .dashNav {
	display: none;
}
.topLinks li a:hover {
	background-color: transparent !important;
}
input[type="text"],input[type="number"],input[type="email"],input[type="password"],textarea,select {
	border-radius: 0 !important;
}
.static .evenbg, .static .oddbg, .static .signup-footer, .static .overview, .static .logCount {
  padding: 70px 0;
  border-bottom: solid 1px #d0d6e2;
  font-size: 16px;
  line-height: 1.5em;
  color: #78899d;
  clear: both;
}
.static .section-heading {
  margin: -0.2em 0 3em;
  line-height: 1.4em;
  font-size: 1.15em;
  color: #8191B1;
  font-family: Raleway;
  text-align: center;
}
.log-counter {
	text-align: center;
}
.number-count {
  display: inline-block;
  margin: 0 5px;
  padding: 5px;
  border-radius: 3px;
  background: #f7f7f7;
  font-size: 20px;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.08);
}
/* Responsive Elements */
@media only screen and (min-width: 771px){
	.desktop-hide {
		display: none !important;
	}
	.desktopHide {
		display: none !important;
	}
	.mobileMenu {
		display: none !important;
	}
	body {
		position: relative;
		/*padding-bottom: 65px;*/
		padding-bottom: 0;
	}
	#body {
		padding-top: 75px;
	}
	#header {
		min-height: 75px;
		position: fixed;
		width: 100%;
		z-index: 9999;
	}
	.navbar {
		margin-bottom: 0 !important;
	}
	.topSearch {
		padding-top: 15px;
	}
	.topSearch label {
		float: left;
		margin-right: 2%;
		width: 76%;
	}
	.topSearch input[type="text"]{
		height: 45px;
		padding: 0 15px;
		border-radius: 0;
		border: 1px solid #cacaca;
		float: left;
		margin-right: 2%;
		background: transparent;
		color: white;
		width:100%;
	}
	.topSearch button {
		height: 45px;
		float: left;
	}
	.navbar-collapse {
		padding: 0 !important;
	}
	.topLinks li {
		margin-right: 8px;
	}
	.topLinks li a {
		color: white;
		font-family: "brandon-grotesque";
		font-weight: 200;
		font-size: 16px;
		padding: 10px 10px !important;
	}
	.topLinks li a:hover {
		border-bottom: 1px dotted white;
		text-decoration: none;
	}
	.topLogin {
		padding-top: 20px;
	}
	.topLogin .form-group, .topLogin .btn {
		margin-left: 8px
	}
	.homeTitle {
		background: #3686be;
		padding: 25px 0;
	}
	.homeTitle h1 {
		font-family: "brandon-grotesque";
		font-weight: 200;
		font-size: 60px !important;
		margin-top: 25px;
		margin-bottom: 20px;
		color: white;
	}
	.homeTitle h4 {
		font-family: "brandon-grotesque";
		font-weight: 100;
		font-size: 32px;
	}
	.homeInputSignup {
		margin: 25px auto !important;
	}
	#homeSignup input[type="text"]{
		float: left;
		width: 40%;
		margin-right: 2%;
		height: 45px;
		border-radius: 4px;
		border: 1px solid #cacaca;
		padding: 0 15px;
	}
	#homeSignup button {
		float: left;
		width: 10%;
		height:45px;
		border: 1px solid #cacaca;
		border-radius: 4px;
	}
	.homeButtonSignup:hover {
		background: #cacaca;
		color: #3a3a3a;
	}
	.homeInputEmail:focus {
		outline: none;
	}
	.slide img {
		max-width: 100%;
	}
	.searchProfileImg {
		width: 25%;
	}
	.searchProfileMeta {
		width: 75%;
	}
	.addLogForm label {
		display: block;
	}
	.addLogForm .form-control {
		width: 100% !important;
	}
	.addLogForm .form-group {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
}
@media only screen and (max-width: 390px){
	.logo {
		text-align: center !important;
	}
	.logo img {
		max-width: 100%;
	}
	.logo h1 {
		margin-top: 0;
	}
	form {
		text-align: center !important;
		margin-bottom: 10px;
	}
	header form button {
		margin-right: 7px;
	}
	.loggedIn {
		display: block;
		text-align: center;
	}
	.form-group {
		margin-bottom: 5px !important;
	}
	i.fa {
		font-size: 20px;
		color: white;
	}
	#searchCallsign, .loginHolder {
		display: none;
	}
	#searchCallsign button {
		margin-top: -3px;
		margin-left: 5px;
	}
	.searchCall {
		height: 34px !important;
		border-radius: 0;
		border: 1px solid #ccc;
		border-right: 0;
		background: transparent;
	}

	.topSearch {
		text-align: right !important;
		padding: 10px 0;
	}
	
	.topLinks {
		width: 100% !important;
	}
	.topLinks li {
		display: inline-block;
		float: left;
	}
	#topLinksMobile {
		margin: 0 !important;
		padding: 0 !important;
		background: #fff !important;
		width: 100% !important;
	}
	#mobileSearchCallsign {
		margin: 0 !important;
		padding: 6px;
	}
	.navbar-nav {
		margin: 0 !important;
	}
	#searchCallSign,#topLinks {
		position: absolute;
		top: 32px;
		left: 0;
	}
	#searchCallsign {
		display: none;
	}
	.navbar {
		min-height: 10px !important;
		margin-bottom: 0 !important;
	}
	.navbar-toggle {
		float: none !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	.navbar-toggle .icon-bar {
		background: white;
	}
	.topLogin {
		text-align: left !important;
		padding: 10px 0;
	}
	.topLogin .btn {
		margin-right: 6px;
	}
	.slide img {
		max-width: 100%;
	}
	#homeSignup input[type="text"]{
		width: 95%;
		height: 42px;
		margin: 6px auto;
	}
	.topWrapper {
		padding-bottom: 20px;
	}
	.floatLeftCheckbox, .bootstrap-switch {
	float: none !important;
	display: block !important;
	margin: 0 auto !important;
	margin-right: 15px;
}
}
.dashNav {
	background: #ccc;
}
.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox{
    margin-bottom: 10px;
}
.form-signin .checkbox{
    font-weight: normal;
}
.form-signin .form-control{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus{
    z-index: 2;
}
.form-signin input {
	margin-bottom: 10px !important;
}
.form-signin input[type="text"]{
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="password"].nomargin{
	margin-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.signup-wall{
	margin-top: 20px;
    padding: 20px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);	
}
.login-title{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.new-account{
    display: block;
    margin-top: 10px;
}
h1.error-message{
    color: red;
}
ul.user-details{
    list-style: none;
}
.floatLeftCheckbox, .bootstrap-switch {
	float: left;
	margin-right: 15px;
}
